.main {
  background-image: url(/public/assets/images/main-bg.png);
  background-size: cover;
  padding: 60px 0 0;
  position: relative;
  color: var(--black-color);
}

.main .container {
  position: relative;
}

.main__image {
  width: 90%;
  position: relative;
  padding-bottom: 50px;
}

.main__image img {
  width: 100%;
}

.main__clicker {
  position: absolute;
  left: 0px;
  top: 0%;
  width: 352px !important;
  z-index: 10;
}

.main__click {
  position: absolute;
  top: 45%;
  left: 84px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap: 5px;
  cursor: pointer;
  z-index: 11;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.main__click img {
  width: 60px;
}

.main__click span {
  text-align: center;
  opacity: 0.5;
}

.main__hand {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -778px;
  width: 500px;
  transition: .8s;
  z-index: 10;
}

.main__hand img {
  width: 100%;
}

.main__overflow {
  position: absolute;
  left: 48px;
  top: 30px;
  width: 103%;
  height: 100%;
  overflow: hidden;
}

.main__pages {
  position: absolute;
  right: 254px;
  top: 0;
  display: flex;
  transition: all 1s;
}

.main__page {
  background-image: url(/public/assets/images/page-bg.png);
  background-size: cover;
  width: 906px;
  height: 610px;
  color: var(--green-extrabold);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main__page-container {
  width: 55%;
  margin-left: 70px;
}

.main__page-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 54.96px;
  margin-bottom: 30px;
}

.main__page-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 29.46px;
}

.main .section__footer {
  color: var(--green-normal);
}

.main .section__footer-hr {
  border-bottom: 3px solid var(--green-normal);
}