.products {
  background-color: var(--green-normal);
  color: var(--white-color);
  padding: 80px;
  position: relative;
  overflow: hidden;
}

.products .container {
  position: relative;
  z-index: 1;
}

.products__title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
}

.products__text {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.products__slider {
  position: relative;
  width: 675px;
  margin: 100px auto 60px;
}

.products__slider-container {
  display: flex;
  gap: 34px;
  position: relative;
  transition: 1s;
  left: 230px;
}

.products__slide {
  min-width: 200px;
  padding: 18px 22px 5px;
  background-color: var(--pink-light);
  border-radius: 23px;
  transition: .5s;
}

.products__slide-title {
  font-size: 19px;
  font-weight: 700;
  line-height: 23.26px;
  color: var(--green-bold);
  text-align: center;
}

.products__slide-img {
  width: 150px;
}

.products__pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.products__pagination-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: .4s;
  cursor: pointer;
}

.products__pagination-btn:hover {
  opacity: 1;
}

.products__pagination-btn.active {
  width: 24px;
  height: 10px;
  border-radius: 20px;
  opacity: 1;
}
